.colorPlatinum {
  color: var(--platinum);
}

.colorSilver {
  color: var(--silver);
}

.colorJet {
  color: var(--jet);
}

.colorRobinEggBlue {
  color: var(--robin-egg-blue);
}

.colorCelestialBlue {
  color: var(--celestial-blue);
}

.colorUltraViolet {
  color: var(--ultra-violet);
}

.colorFederalBlue {
  color: var(--federal-blue);
}

.colorShadow {
  color: var(--shadow);
}

.primary {
  color: var(--color-primary-900);
}

.secondary {
  color: var(--color-secondary-500);
}
