.colorLight {
  color: var(--light);
}

.colorDark {
  color: var(--dark);
}

.colorPlatinum {
  color: var(--platinum);
}

.colorJet {
  color: var(--jet);
}

.colorRobinEggBlue {
  color: var(--robin-egg-blue);
}

.colorCelestialBlue {
  color: var(--celestial-blue);
}

.colorUltraViolet {
  color: var(--ultra-violet);
}

.colorFederalBlue {
  color: var(--federal-blue);
}

.colorShadow {
  color: var(--shadow);
}
