.projectPage {
  min-height: calc(100vh - 200px);
}

.projectPage a {
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

.projectPage a:not(.imageLink)::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: -4px;
  background-color: var(--robin-egg-blue);
  transition: var(--transition);
}

.projectPage a:focus,
.projectPage a:focus-visible {
  outline: 2px dotted red;
  outline-offset: 5px;
}

.projectPage a:hover {
  outline: 0px;
}

.projectPage a:hover::after {
  width: 100%;
}

.projectPage p {
  max-width: unset;
}

.projectPage img {
  object-fit: contain;
  width: 100% !important;
  max-width: 860px;
  position: relative !important;
  height: unset !important;
  border-radius: 25px;
}

.projectPage svg {
  display: inline-block;
}

.projectPage ul {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .projectPage {
    min-height: calc(100vh - 100px);
  }
}
