.projectPage {
  background-color: var(--light);
  color: var(--dark);
  min-height: calc(100vh - 125px);
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectPage a {
  color: var(--dark);
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

.projectPage a:not(.imageLink)::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0;
  background-color: var(--robin-egg-blue);
  transition: var(--transition);
}

.projectPage a:focus,
.projectPage a:focus-visible {
  outline: 2px dotted red;
  outline-offset: 5px;
}

.projectPage a:hover {
  color: var(--dark);
  outline: 0px;
}

.projectPage a:hover::after {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}

.containerContent {
  flex-basis: 50%;
}

.imageContainer {
  width: 100%;
  margin-top:  1.25rem;
}

.imageContainer img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-radius: 25px;
}

.mb1 {
  margin-bottom: 1.5rem;
}

.tag {
  font-size: var(--font-size);
  line-height: 160%;
  letter-spacing: 0.03rem;
}

.textCenter {
  text-align: center;
}


@media screen and (max-width: 767px) {
  .projectPage {
    min-height: calc(100vh - 100px);
  }

  .container {
    flex-direction: column;
    gap: 25px;
  }

  .containerContent:first-child {
    order: 2;
  }
}
