.hamburgerMenuButton {
  display: flex;
  position: relative;
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  color: var(--light);
  font-size: 2rem;
  z-index: 20;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opactity, filter;
}


.hamburgerMenuBox {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.hamburgerMenuBoxInner {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--robin-egg-blue);
  transition: var(--hamburger-transition);
  transform: rotate(0deg);
}

.hamburgerMenuBoxInner::before,
.hamburgerMenuBoxInner::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--robin-egg-blue);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.hamburgerMenuBoxInner::before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: var(--hamburger-transition-before);
}

.hamburgerMenuBoxInner::after {
  width: 80%;
  bottom: -10px;
  transform: rotate(0deg);
  transition: var(--hamburger-transition-after);
}

.active .hamburgerMenuBoxInner {
  transition: var(--hamburger-transition-active);
  transform: rotate(225deg);
}

.active .hamburgerMenuBoxInner::before {
  width: 100%;
  top: 0px;
  opacity: 0;
  transition: var(--hamburger-transition-before-active);
}

.active .hamburgerMenuBoxInner::after {
  width: 100%;
  bottom: 0px;
  transform: rotate(-90deg);
  transition: var(--hamburger-transition-after-active);
}