.navLogo a:focus,
.navLogo a:focus-visible {
  outline: 2px dotted red;
  outline-offset: 5px;
}

.navLogo a::after {
  height: 0px;
}

.navLogo img {
  filter: var(--color-logo-filter);
  padding: 10px 0;
}
