.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.container > div {
  flex-basis: auto;
}

.imageContainer {
  max-width: 600px;
}

.imageContainer img {
  object-fit: contain;
  width: 100%;
  height: unset;
  border-radius: 25px;
}

.tag {
  font-size: var(--font-size-sm);
  line-height: 160%;
  letter-spacing: 0.03rem;
  text-align: center;
}

.tag a {
  color: var(--color-text);
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

.tag a::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0;
  background-color: var(--robin-egg-blue);
  transition: var(--transition);
}

.tag a:focus,
.tag a:focus-visible {
  outline: 2px dotted red;
  outline-offset: 5px;
}

.tag a:hover {
  color: var(--color-text);
  outline: 0px;
}

.tag a:hover::after {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .imageContainer {
    display: none;
  }

  .container {
    flex-direction: 100%;
  }

  .container > div {
    flex-basis: unset;
  }
}
