:root {
  --light: #f2f2f2;
  --dark: #333030;
  --platinum: #d1d1d1;
  --silver: #b5b5b5;
  --jet: #333030;
  --robin-egg-blue: #38d8e3;
  --celestial-blue: #2773a5;
  --ultra-violet: #6968a1;
  --federal-blue: #0a054b;
  --shadow: #111111;
  --font-size-xs: 0.85714rem;
  --font-size-sm: 0.875rem;
  --font-size: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    0s;
  --hamburger-transition-active: transform 0.22s
    cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  --hamburger-transition-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --hamburger-transition-before-active: top 0.1s ease-out,
    opacity 0.1s ease-out 0.12s;
  --hamburger-transition-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --hamburger-transition-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

* {
  box-sizing: border-box;
}

html:not(.iFrame) {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  font-size: var(--font-size-lg);
  letter-spacing: 1.4;
  line-height: 140%;
  color: var(--light);
  background-color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

#overlay {
  position: relative;
  z-index: 0;
}

p {
  max-width: 70ch;
  letter-spacing: 0.01rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700 !important;
  margin: 0;
  line-height: 100%;
  letter-spacing: -0.02rem;
}

h1,
.h1 {
  font-size: calc(4.5 * var(--font-size));
}

h2,
.h2 {
  font-size: calc(2.5 * var(--font-size));
}

h3,
.h3 {
  font-size: calc(2 * var(--font-size));
}

h4,
.h4 {
  font-size: calc(1.5 * var(--font-size));
}

h5,
.h5 {
  font-size: calc(1.25 * var(--font-size));
}

h6,
.h6 {
  font-size: calc(1.125 * var(--font-size));
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 10%;
  position: relative;
  z-index: 1;
}

#hero {
  position: relative;
  background-color: var(--light);
  color: var(--dark);
  z-index: 1;
  overflow-x: hidden;
  min-height: calc(100vh - 125px);
  scroll-margin-top: 124px;
}

#hero h1 {
  margin: 1rem 0;
}

#hero h2,
#about h2,
#projects h2,
#contact h2 {
  margin-bottom: 2rem;
}

#about {
  background-color: var(--ultra-violet);
  color: var(--light);
  scroll-margin-top: 124px;
}

#projects {
  background-color: var(--light);
  color: var(--dark);
  scroll-margin-top: 124px;
}

#contact {
  background-color: var(--dark);
  color: var(--light);
  scroll-margin-top: 124px;
}

@media screen and (max-width: 767px) {
  body {
    position: relative;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    line-height: 110%;
    letter-spacing: 0.02rem;
    margin-bottom: 1rem;
  }

  h1,
  .h1 {
    font-size: calc(3.5 * var(--font-size));
    margin-bottom: 1rem;
  }

  h2,
  .h2 {
    font-size: calc(2 * var(--font-size));
    margin-bottom: 1rem;
  }

  h3,
  .h3 {
    font-size: calc(1.75 * var(--font-size));
    margin-bottom: 1rem;
  }

  h4,
  .h4 {
    font-size: calc(1.25 * var(--font-size));
    margin-bottom: 1rem;
  }

  h5,
  .h5 {
    font-size: calc(1.125 * var(--font-size));
    margin-bottom: 1rem;
  }

  h6,
  .h6 {
    font-size: var(--font-size);
    margin-bottom: 1rem;
  }

  #hero, #about, #projects, #contact {
    scroll-margin-top: 99px;
  }

  #projectPage {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
  }
}
