.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.container > div {
  flex-basis: 50%;
}

.contactSocial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.contactSocial a {
  color: var(--color-text);
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

.contactSocial a::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0;
  background-color: var(--color-link);
  transition: var(--transition);
}

.contactSocial a:focus,
.contactSocial a:focus-visible {
  outline: 2px dotted red;
  outline-offset: 5px;
}

.contactSocial a:hover {
  color: var(--color-text);
  outline: 0px;
}

.contactSocial a:hover::after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}
