.header {
  color: var(--light);
  background-color: var(--federal-blue);
  margin: auto;
  padding: 25px 10%;
  width: 100vw;
  height: 125px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 10;
  transition: var(--transition);
    display: flex;
  align-items: center;
  justify-content: space-between;
}

.scrolled {
  box-shadow: 0 10px 20px -10px var(--shadow);
  border-bottom: 1px solid var(--shadow);
}


@media screen and (max-width: 767px) {
    .header {
    height: 100px;
    padding: 15px 50px;
  }
}