#projectPage {
  background-color: var(--light);
  color: var(--dark);
  min-height: calc(100vh - 125px);
  margin-top: 125px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#projectPage .container {
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  #projectPage {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
  }

  #projectPage .container {
    gap: 25px;
  }

  #projectPage .container__content:first-child {
    order: 2;
  }
}
